html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

@font-face {
  font-family: 'Biryani', sans-serif;
}

body {
  font-family: 'Biryani', sans-serif;
  color: #363636;
  background-color: #F5F5F5
}

h1#balancing-act-title {
  position: relative;
  top: 45px;
}

button.main-button {
  padding: 7px 15px;
  background-color: #1CA3BA;
  color: white;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  margin-top: 5px;
}

/*
  Left Column CSS
*/

#left-column {
  float: left;
  background-color: white;
  margin-right: 40px;
  height: 850px;
}

#elephant-logo {
  width: 82px;
  height: 86px;
  padding: 0px;
  float: left;
  margin-right: 20px;
  margin: 15px 20px 0px 5px;
}

.nav-image {
  width: 50px;
  height: 50px;
  display: block;
  padding: 15px;
}

#nav-links {
  margin-top: 250px;
}

/*
  Center Column CSS
*/

#center-column {
  float: left;
  margin: 30px 45px 0px 0px;
  width: 600px;
}

#main-account-summary {
  margin-top: 40px;
}

header#welcome-banner {
  height: 100px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
}

h3#welcome-title {
  text-align: center;
  padding: 25px;
}

button#welcome-close {
  display: block;
  float: right;
  border: none;
  background: none;
}

#close-x {
  height: 10px;
  width: 10px;
  padding: 15px;
}

section#account-details-cont .acct-detail {
  float: left;
  margin: 15px;
  padding: 10px;
  width:150px;
  background-color: white;
}

section#account-details-cont p.acct-detail-val {
  font-size: 24px;
}

section#accounts-cont h2#accounts-title {
  display: inline;
}

section#accounts-cont button#accounts-button {
  float: right;
}

ul#accounts-list li.acct-item {
  background-color: white;
  height: 80px;
  list-style: none;
  margin: 20px 0px;
}

ul#accounts-list h4.acct-title {
  text-align: center;
  position: relative;
  left: 100px;
  bottom: 20px;
}

ul#accounts-list h4.acct-type {
  float: right;
  position: relative;
  top: 28px;
  right: 40px;
}

img.account-icon {
  height: 50px;
  width: 50px;
  padding-top: 15px;
  padding-left: 15px;
}

/*
  Right Column CSS
*/

#right-column {
  float: left;
  width: 500px;
  margin: 30px 45px;
}

section#table-cont {
  padding: 30px;
  background-color: white;
}

h2#recent-trans-title {
  display: inline;
}

button#new-trans-button {
  float: right;
}

.acct-item h4 {
  display: inline;
}

table#transactions {
  width: 440px;
}

table#transactions tr {
  text-align: left;
  border-bottom: #CCCCCC;
}

th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
