html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

@font-face {
  font-family: 'Biryani', sans-serif;
}

body {
  font-family: 'Biryani', sans-serif;
  color: #363636;
  background-color: #F5F5F5
}

h1.page-title {
  position: relative;
  top: 28px;
  font-size: 24px;
  margin-bottom: 40px;
}

.main-button {
  font-family: 'Biryani', sans-serif;
  padding: 4px 19px;
  background-color: #1CA3BA;
  color: white;
  font-size: 9px;
  border-radius: 25px;
  border: solid 1px;
  border-top-color: rgb(117, 184, 199);
  border-bottom-color: rgb(85, 162, 182);
  border-left-color: rgb(115, 181, 196);
  border-right-color: rgb(135, 190, 205);
  height: 28px;
}

.main-button:hover {
  color: rgb(76, 161, 183);
  background-color: white;
  border: inset 1px #8ED1DC;
  cursor: pointer;
}

.main-button:focus {
  outline:0;
}

/*
  Left Column CSS
*/

#left-column {
  float: left;
  background-color: white;
  margin-right: 30px;
  height: 650px;
}

#elephant-logo {
  width: 61px;
  height: 65px;
  padding: 0px;
  float: left;
  margin-right: 20px;
  margin: 10px 7px 0px 5px;
}

.nav-image {
  width: 33px;
  height: 33px;
  display: block;
  padding: 8px 15px;
  cursor: pointer;
}

.on-page {
  border-left: solid 3px #1CA3BA;
}

.nav-links {
  margin-top: 256px;
}

/*
  Center Column CSS
*/

.center-column {
  float: left;
  margin: 10px 34px 0px 0px;
  width: 520px;
}

header#welcome-banner {
  height: 80px;
  width: 520px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
}

h3#welcome-title {
  text-align: left;
  padding: 24px;
}

#close-welcome-x {
  height: 10px;
  width: 10px;
  padding: 15px;
  float: right;
}

#close-welcome-x:hover {
  cursor: pointer;
}

section#account-details-cont {
  margin-top: 10px;
}

section#account-details-cont .acct-detail {
  float: left;
  margin: 12px 12px 32px 12px;
  padding: 15px 0px 10px 15px;
  width: 142px;
  height: 58px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
}

section#account-details-cont #acct-income {
  margin-left: 0px;
}

section#account-details-cont #credit-score {
  margin-right: 0px;
}

section#account-details-cont h5.acct-detail-title {
  font-size: 8px;
}

section#account-details-cont p.acct-detail-val {
  font-size: 20px;
}

h2#accounts-title {
  display: inline;
  font-size: 20px;
}

button#accounts-button {
  float: right;
}

ul#accounts-list li.acct-item {
  background-color: white;
  height: 60px;
  width: 520px;
  list-style: none;
  margin: 10px 0px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
}

ul#accounts-list li.acct-checking {
  margin-top: 6px;
}

ul#accounts-list h4.acct-title {
    text-align: center;
    position: relative;
    bottom: 7px;
    display: inline-block;
    margin-left: 68px;
}

ul#accounts-list h4.acct-type {
  float: left;
  width: 140px;
  margin-top: 20px;
}

img.account-icon {
  height: 28px;
  width: 28px;
  padding-top: 15px;
  padding-left: 15px;
}

span.float-right {
  float: right;
}

/*
  Right Column CSS
*/

#right-column {
  float: left;
  width: 496px;
  margin: 10px 34px 30px 34px;
}

section.trans-table-cont {
  padding: 25px;
  padding-top: 30px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
  height: 100%;
}

h2.section-title {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
}

button#new-trans-button {
  float: right;
}

.acct-item h4 {
  display: inline;
}

table.transactions-table {
  width: 445px;
  border-spacing: 0px;
  border-collapse: collapse;
}


 td, th {
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
  font-size: 14px;
  height: 38px;
}

tr td.trans-date {
  width: 110px;
}

table.transactions-table tr td.trans-outflow {
  width: 70px;
}

table.transactions-table tr td.trans-inflow {
  width: 110px;
}

/*
Transactions
center column
*/

#main-transactions {
  width: 535px;
  margin-top: 11px;
}

#transactions-title {
  display: inline-block;
  position: static;
  margin-top: 15px;
  float: left;
  width: 90%;
  height: 60px;
}

#transaction-options {
  display: inline-block;
  width: 400px;
  position: relative;
  left: 260px;
  bottom: 60px;
}

.trans-button {
  width: 90px;
  color: #1CA3BA;
  background-color: white;
  border: solid 1px #1CA3BA;
  cursor: pointer;
}

#exp-trans-cont {
  height: 470px;
  overflow: scroll;
  padding-top: 15px;
}

#transaction-options button.sel-trans-type {
  width: 90px;
  color: white;
  background-color: #1CA3BA;
  border: solid 1px #1CA3BA;
  cursor: pointer;
}

#transactions-title {
  margin-bottom: 7px;
}

table.expanded-transactions-table {
  width: 100%;
  border-spacing: 0px;
}

table.expanded-transactions-table td {
  font-size: 12px;
}

table.expanded-transactions-table tr td.trans-acct {
  width: 110px;
}

table.expanded-transactions-table tr td.trans-payee {
  width: 140px;
}

table.expanded-transactions-table tr td.trans-inflow {
  width: 70px;
}

table.expanded-transactions-table tr td.trans-outflow {
  width: 80px;
}

/*
  Add transaction
  right column
*/

.new-trans-cont {
  background-color: white;
  text-align: center;
  padding: 20px 60px 30px 60px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-left: 40px;
  height: 460px;
  width: 300px;
}

#new-trans-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

#new-trans-form select, input {
  display: block;
  margin: 13px auto;
  box-shadow: -2px -1px 4px rgba(0,0,0,0.1), 2px 3px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 100%;
  height: 25px;
  border-width: 0px;
}

form#new-trans-form select {
  background-color: rgb(248, 248, 248);
  font-family: 'Biryani', sans-serif;
}

form#new-trans-form label {
  font-size: 12px;
  float: left;
  padding-left: 5px;
}

form#new-trans-form input {
  font-size: 14px;
}

form#new-trans-form input#new-trans-button {
  width: 120px;
  font-size: 12px;
  color: white;
  background-color: #1CA3BA;
  border: solid 1px #1CA3BA;
  cursor: pointer;
  float: left;
  margin-top: 5px;
}

#message-container {
  text-align: left;
}

.transaction-msg {
  background-color: rgb(233,254,216);
  display: block;
  width: 400px;
  font-size: 12px;
  position: relative;
  right: 60px;
  bottom: 9px;
  padding: 10px;
  text-align: left;
}

#close-trans-msg {
  float: right;
  width: 8px;
  height: 8px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.required {
  background-color: rgb(245, 69, 66);
  border-radius: 5px;
  color: white;
}
